<div class = "section-title container">
  <div class="row arrow">
    <div class="col-xs-2">
      <a href="javascript:history.back()"<span class="glyphicon glyphicon-chevron-left back"></span></a>
    </div>


    <div class="col-xs-8">
      <h4>Favorites</h4>
    </div>

  </div>
</div>

<br>

{{#each favorites}}
  <div class="container collapse in" id="{{id}}" aria-expanded="true">
    <div class="row">
      <div class="col-xs-3">
      </div>
      <div class="col-xs-6 no-padding">
        <a href="/item/{{id}}" class="img-thumbnail"><img src="../img/{{imageURL}}" alt="{{name}}"></a>
      </div>
      <div class="col-xs-3">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
      </div>
      <div class="col-xs-6 item-info text-center">
        <a href="/item/{{id}}"><h4 class="item-name"><strong>{{name}}</strong></h4></a>
        <p class="small-text">{{{short_description}}}</p>
        <span><del>{{old_price}}</del></span> <span class="new-price">{{new_price}}</span>
      </div>
      <div class="col-xs-3">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-5 text-center">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      <div class="col-xs-5 text-center">
        <span class="favorites-btn glyphicon glyphicon-heart text-danger"></span>
      </div>
      <div class="col-xs-1">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-5 text-center">
        <span>({{reviews_num}})</span>
      </div>
      <div class="col-xs-5 text-center">
        <span>({{favorites_num}})</span>
      </div>
      <div class="col-xs-1">
      </div>
    </div>
    {{#unless @last}}
    <hr>
    {{/unless}}
  </div>

{{/each}}

<br>

<script>
$(function() {
  $(".glyphicon-heart").on('click', function(e) {
    e.preventDefault();

    $(this).parent().closest(".container").collapse('hide');
  });
});
</script>
