<div class = "section-title container">
  <div class="row arrow">
    <div class="col-xs-2">
      <a href="javascript:history.back()"<span class="glyphicon glyphicon-chevron-left back"></span></a>
    </div>


    <div class="col-xs-8">
      <h4 class="item-name">{{name}}</h4>
    </div>

  </div>
</div>
<div class="container" id="{{id}}">
    <div class="breadcrumbs">
      <a href="/categories/{{category}}"> {{category}} </a>
       >
      <a href="/categories/{{category}}/{{subcategory.[0]}}"> {{subcategory.[0]}} </a>
    </div>

      <div class="container">
      <div class="row">
        <div class="col-xs-9 no-padding">
          <a href="#" class="item-img"><img src="/../img/{{imageURL}}" class="img-thumbnail" alt="Levi Jeans"></a>
        </div>
        <div class="col-xs-3 no-padding">
          <a href="#" class="item-img"><img src="/../img/{{imageURL}}" class="rightImage img-thumbnail" alt="Levi Jeans"></a>
          <a href="#" class="item-img"><img src="/../img/{{imageURL}}" class="rightImage img-thumbnail" alt="Levi Jeans"></a>
          <a href="#" class="item-img"><img src="/../img/{{imageURL}}" class="rightImage img-thumbnail" alt="Levi Jeans"></a>
        </div>
      </div>
      <div class="item-info">
        <div class="row">
          <div class="col-xs-6 text-center">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <div class="col-xs-6 text-center">
          {{#if favorited}}
            <span class="favorites-btn glyphicon glyphicon-heart text-danger"></span>
          {{else}}
            <span class="favorites-btn glyphicon glyphicon-heart-empty text-danger"></span>
          {{/if}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 text-center">
            <span>(3.0 Average, 3 Reviews)</span>
          </div>
          <div class="col-xs-6 text-center">
            <span>(</span><span class="fav-num">{{favorites_num}}</span><span> Favorites)</span>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
      <div class="row">
        {{#if item_type.Tops}}
        <div class="col-xs-8">
          <h4 class="size-text"><a href="#">Size Chart </a></h4>
        </div>
        <div class="col-xs-2">
          <h4 class="size-text">Size:</h4>
        </div>
        <div class="col-xs-2 no-padding ">
            <select class="btn btn-outline-primary select-btn">
              <option>XS</option>
              <option>S</option>
              <option>M</option>
              <option>L</option>
              <option>XL</option>
              <option>XXL</option>
            </select>
        </div>
        {{else}}
        {{#if item_type.Bottoms}}
        <div class="col-xs-6">
          <h4 class="size-text"><a href="#">Size Chart </a></h4>
        </div>
        <div class="col-xs-2">
          <h4 class="size-text">Size:</h4>
        </div>
        <div class="col-xs-2 no-padding">
            <select class="btn btn-outline-primary select-btn">
              <option>28W</option>
              <option>29W</option>
              <option>30W</option>
              <option>31W</option>
              <option>32W</option>
              <option>34W</option>
              <option>36W</option>
            </select>
        </div>
        <div class="col-xs-2 no-padding">
            <select class="btn btn-outline-primary select-btn">
              <option>28L</option>
              <option>29L</option>
              <option>30L</option>
              <option>31L</option>
              <option>32L</option>
              <option>34L</option>
              <option>36L</option>
            </select>
        </div>
        {{else}}
        {{#if item_type.Shoes}}
        <div class="col-xs-8">
          <h4 class="size-text"><a href="#">Size Chart </a></h4>
        </div>
        <div class="col-xs-2">
          <h4 class="size-text">Size:</h4>
        </div>
        <div class="col-xs-2 no-padding">
            <select class="btn btn-outline-primary select-btn">
              <option>7</option>
              <option>7.5</option>
              <option>8</option>
              <option>8.5</option>
              <option>9</option>
              <option>9.5</option>
              <option>10</option>
              <option>10.5</option>
              <option>11</option>
              <option>11.5</option>
              <option>12</option>
            </select>
          </div>
        {{else}}
        {{#if item_type.Accessories}}
        <div class="col-xs-6">
          <h4 class="size-text"><a href="#">Size Chart </a></h4>
        </div>
        <div class="col-xs-2">
          <h4 class="size-text">Size:</h4>
        </div>
        <div class="col-xs-2 ">
            <button class="btn btn-outline-primary">
              One Size
            </button>
          </div>
        {{/if}}
        {{/if}}
        {{/if}}
        {{/if}}
    </div>
    <hr>
  </div>

</div>
<div id="item-tabs" class="container">
<ul class="nav nav-tabs">
      <li class="active">
        <a  href="#1" data-toggle="tab">Prices</a>
      </li>
      <li>
        <a href="#2" data-toggle="tab">Product Information</a>
      </li>
      <li>
        <a href="#3" data-toggle="tab">Price History</a>
      </li>
      <li>
        <a href="#4" data-toggle="tab">Reviews</a>
      </li>
    </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="1">
            <ul class="list-group">
              {{#each stores}}
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs-6">
                    <a href="https://www.{{store}}.com">{{store}}</a>
                  </div>
                  <div class="col-xs-6 price">
                    <del>${{../old_price}}</del> <p class="new-price">${{current_price}}</p><br>
                  </div>
                </div>
                <div class="updated">
                  Updated {{@index}} days ago
                </div>
              </li>
              {{/each}}
            </ul>
        </div>
        <div class="tab-pane" id="2">
          <ul class="list-group">
            <li class="list-group-item">
              <p>Information about this particular product.</p>
            </li>
          </ul>
        </div>
        <div class="tab-pane" id="3">
            <ul class="list-group">
              <li class="list-group-item">
                <canvas id="myChart" width="400" height="400"></canvas>
                <script>
                function newDate(months) {
            			return moment().subtract(months, 'months').toDate();
            		}

                var lineColors = ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#fff"]
                var ctx = document.getElementById("myChart");
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [newDate(4),
                					newDate(3),
                					newDate(2),
                					newDate(1),
                					newDate(0)],
                        datasets: [
                          {{#each stores}}
                          {
                            label: '{{store}}',
                            data: [
                              {{#each prices}}
                                {
                                  x: moment('{{date}}'),
                                  y: {{price}}
                                }
                                {{#unless @last}}
                                  ,
                                {{/unless}}
                              {{/each}}
                            ],
                            borderColor: [
                                lineColors[{{@index}}]
                            ],
                            borderWidth: 1,
                            fill: 'false',
                            lineTension: 0
                          }
                          {{#unless @last}}
                            ,
                          {{/unless}}
                        {{/each}}
                      ]
                    },
                    options: {
                      offset: true,
                      responsive: true,
                      scales: {
                				xAxes: [{
                          type: 'time',
              						time: {
                            unit: 'month',
              							parser: 'MM/DD/YYYY HH:mm',
              							tooltipFormat: 'll HH:mm'
              						},
                          scaleLabel: {
              							display: true,
              							labelString: 'Past 6 Months'
              						},
                          ticks: {
                            //source: 'show',
                            autoSkip: true
                          }
                				}],
                				yAxes: [{
                          ticks: {
                            beginAtZero: false,
                            callback: function(value, index, values) {
                              return value.toLocaleString("en-US",{style:"currency", currency:"USD"});
                            }
                          },
              						display: true
              					}]
              				},
                      gridLines: {
                        offsetGridLines: true
                      }
                    }
                });
                </script>
              </li>
            </ul>
        </div>
        <div class="tab-pane" id="4">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-6">
                  <strong>Review Title #1</strong>
                </div>
                <div class="col-xs-6 price">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="review-description">
                <p>Not bad.</p>
              </div>
              <div class="updated">
                Posted 42 minutes ago by username
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-6">
                  <strong>Review Title #2</strong>
                </div>
                <div class="col-xs-6 price">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="review-description">
                <p>Eh.</p>
              </div>
              <div class="updated">
                Posted 3 days ago by username
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-6">
                  <strong>Review Title #3</strong>
                </div>
                <div class="col-xs-6 price">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="review-description">
                <p>Wow.</p>
              </div>
              <div class="updated">
                Posted 1 week ago by username
              </div>
            </li>
          </ul>
        </div>
      </div>
  </div>
